[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
boto3 = "*"
django-storages = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.10"
