{% extends '../base1.html' %}

{% block content %}

<button> <a href="{%url 'device:switchinp' %}">add switch</a></button>
{% for switch in dic.switch %}

    {% comment %} <a href="{%url 'device:customerVlanind' customerVlan.id%}"> {% endcomment %}
        <p>{{switch.comms_room}}</p>
    {% comment %} </a> {% endcomment %}

    {% comment %} <button><a href="{%url 'device:customerVlandel' customerVlan.id%}">delete</a></button>
    <button><a href="{%url 'device:customerVlanupd' customerVlan.id%}">update</a></button>  {% endcomment %}

{% endfor %}
{% endblock  %}