{% extends '../base1.html' %}

{% block content %}

<div class="container">
    <a href="{%url 'device:switchinp' %}"><button type="button" class="btn btn-primary mt-3">  Add Switch</button></a>
{% for switch in dic.switch %}
<div class="grid">
    <a href="{%url 'device:switchind' switch.id%}">
        <div class="flex">
                <div class="margin-right">
                    <h4 class="list-title">Switch Name</h4>
                    <p>{{switch.switch_name}}</p>
                </div>
                <div class="margin-right">
                    <h4 class="list-title">Communication Room</h4>
                    <p>{{switch.communication_room}}</p>
                </div>
                <div class="margin-right">
                    <h4 class="list-title">Port Capacity</h4>
                    <p>{{switch.port_capacity}}</p>
                </div>
                <div class="margin-right">
                    <h4 class="list-title">POE Enabled</h4>
                    <p>{{switch.poe_enabled}}</p>
                </div>
        </div>
    </a>
    <div class="delupd">
        <a class="upd"href="{%url 'device:switchupd' switch.id%}"><span class="material-icons md-36">update</span></a>
        <a class="del" href="{%url 'device:switchdel' switch.id%}"><span class="material-icons md-36">delete</span></a>
    </div>
</div>
{% endfor %}
</div>
{% endblock  %}