{% extends '../base1.html' %}


{% load crispy_forms_filters %}
{% block content %}
<form enctype="multipart/form-data" action="{%url 'device:workorderinp'%}"  class="" method="POST">
    {%csrf_token%}
    
    <div class="container">
        <a href="{%url 'device:workorderlist' %}"><button type="button" class="btn btn-dark mt-3">Back</button></a>
        {{dic.form|crispy}}
        <select  name="option" class="form-select" aria-label="Default select example">
            {% for f in dic.filter %}
                <option value="{{f.id}}">{{f.commroomname}}</option>
            {% endfor %}
        </select>
        {% comment %} <select name="option">
            {% for f in dic.filter %}
                <option value="{{f.id}}">hellp</option>
            {% endfor %}
        </select> {% endcomment %}
        
        
        <button type="submit" class="btn btn-primary submit" value="submit">submit</button>
    </div>
</form>
{% endblock  %}