{% extends 'admin/base1.html' %}

{% load crispy_forms_filters %}
{% block content %}
<form enctype="multipart/form-data" action="{%url 'device:workorderupd' dic.id.id%}"  class="" method="POST">
    {%csrf_token%}
    
    <div class="container">
        {{dic.form|crispy}}
        <select name="option">
            {% for f in dic.filter %}
                <option value="{{f.id}}">hellp</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary submit" value="submit">submit</button>
    </div>
</form>
{% endblock  %}