
{% extends '../base1.html' %}

{% block content %}


<div class="container">
    <a href="{%url 'device:workorderinp' %}"><button type="button" class="btn btn-primary mt-3">  Add Work Order</button></a>
{% for workorder in dic.workorder %}
    <div class="grid">
        <a href="{%url 'device:workorderind' workorder.id%}">
            <div class="flex">
                <div class="margin-right">
                    <h4 class="list-title">Request Type</h4>
                    <p>{{workorder.request_type}}</p>
                </div>
                <div class="margin-right">
                    <h4 class="list-title">Service Desk Ticket Number</h4>
                    <p>{{workorder.service_desk_ticket_number}}</p>
                </div>
                <div class="margin-right">
                    <h4 class="list-title">Engineer Assigned</h4>
                    <p>{{workorder.engineer_assigned}}</p>
                </div>
            </div>
        </a>
        <div class="delupd">
            <a class="upd" href="{%url 'device:workorderupd' workorder.id%}"><span class="material-icons md-36">update</span></a>
            <a class="del" href="{%url 'device:workorderdel' workorder.id%}"><span class="material-icons md-36">delete</span></a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock  %}