{% extends '../base1.html' %}
{% load crispy_forms_filters %}

{% block content %}
<form enctype="multipart/form-data" action="{%url 'device:connectioninp'%}"  class="" method="POST">
    {%csrf_token%}
    <div class="container">
        <a href="{%url 'device:connectionlist' %}"><button type="button" class="btn btn-dark mt-3">Back</button></a>
        <hr>
        <label for="exampleInputPassword1">Data Outlet</label>
        <select name="option" class="form-select" aria-label="Default select example">
            {% for f in dic.dataoutlet %}
                <option value="{{f.id}}">{{f.patch_panel}}</option>
            {% endfor %}
        </select> 
        {{dic.form|crispy}}
        {% comment %} <br>
        <h1>Data Outlet</h1>
        <div class="form-group">
            <label for="exampleInputPassword1">Port Amount</label>
            <input name = "port-amount" class="form-control"  >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Patch Panel Amount</label>
            <input name = "patchpanel" class="form-control"  >
        </div>
        <label for="exampleInputPassword1">Communication Room</label>
        <select  name="option" class="form-select" aria-label="Default select example">
            {% for f in dic.filter %}
                <option value="{{f.id}}">{{f.commroomname}}</option>
            {% endfor %}
        </select> {% endcomment %}
        
        <button type="submit" class="btn btn-primary submit" value="submit">submit</button>
    </div>
</form>
{% endblock  %}