{% extends '../base1.html' %}

{% block content %}
<div class="container">
<a href="{%url 'device:connectioninp' %}"><button type="button" class="btn btn-primary mt-3"> Add Connection</button></a>
{% for connection in dic.connection %}

<div class="grid">
    <a href="{%url 'device:connectionind' connection.id%}">
        <div class="flex">
            <p>{{connection.company}}</p>
        </div>
    </a>
    <div class="delupd">
        <a class="upd"href="{%url 'device:connectionupd' connection.id%}"><span class="material-icons md-36">update</span></a>
        <a class="del" href="{%url 'device:connectiondel' connection.id%}"><span class="material-icons md-36">delete</span></a>
    </div>
</div>

{% endfor %}
</div>
{% endblock  %}