{% extends 'admin/base1.html' %}

{% block content %}
<form enctype="multipart/form-data" action="{%url 'device:connectionupd' dic.id.id%}"  class="" method="POST">
    {%csrf_token%}
    
    {{dic.form}}
    
    <input name = "port-amount">
    <select name="option">
            <option value="delete">Delete</option>
            <option value="add">Add</option>
    </select>
    <select name="comoption">
        {% for f in dic.filter %}
            <option value="{{f.id}}">hellp</option>
        {% endfor %}
    </select>
    
    
    <button type="submit" value="submit">submit</button>
</form>
{% endblock  %}