{% extends 'admin/base1.html' %}

{% load crispy_forms_filters %}

{% block content %}
<form enctype="multipart/form-data" action="{%url 'device:connectionupd' dic.id.id%}"  class="" method="POST">
    {%csrf_token%}
    
    <div class="container">
        <label for="exampleInputPassword1">Data Outlet</label>
        <select name="option" class="form-select" aria-label="Default select example">
            {% for f in dic.dataoutlet %}
                <option value="{{f.id}}">{{f.patch_panel}}</option>
            {% endfor %}
        </select> 
        {{dic.form|crispy}}

        {% comment %} <div class="form-group">
            <label for="exampleInputPassword1">Port Amount</label>
            <input name = "port-amount" class="form-control"  >
        </div>
        
        
        <select name="option">
                <option value="delete">Delete</option>
                <option value="add">Add</option>
        </select>

        <select  name="comoption" class="form-select hide" aria-label="Default select example">
            {% for f in dic.filter %}
                <option value="{{f.id}}">{{f.commroomname}}</option>
            {% endfor %}
        </select> {% endcomment %}
        
        
        
        <button type="submit" class="btn btn-primary submit" value="submit">submit</button>
    </div>
</form>
{% endblock  %}