{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'Css/FormPage/style.css'%}">
</head>
<body>
    <div class="background-image">
        <img src="{%static 'Images/BackgroundImage.png'%}" class="image" alt="">
     </div>

     <div class="form-container">
         <h1 class="thank-page-title">Thank you for submitting the form</h1>
         <p class="thank-page-text">The department has been informed of your application<br>
            Please wait for the mail to inform you if you have been accepted or not.
         </p>
         <br>
         <br>
         <a href="{%url 'Form:Home'%}" class="thanks-link">Go back to Form Page</a>
     </div>
</body>
</html>