{% extends '../base1.html' %}

{% block content %}

<div class="container">
    <a href="{%url 'device:customerVlaninp' %}"><button type="button" class="btn btn-primary mt-3"> add customerVlan</button></a>
{% for customerVlan in dic.customerVlan %}


    <div class="grid">
        <a href="{%url 'device:customerVlanind' customerVlan.id%}">
            <div class="flex">
                <div class="margin-right">
                    {% comment %} horrible spelling watch out here and everywhere customer is written {% endcomment %}
                    <h4 class="list-title">Customer</h4>
                    <p>{{customerVlan.customor}}</p>
                </div>
                <div class="margin-right">
                    <h4 class="list-title">Customer Vlan</h4>
                    <p>{{customerVlan.vlan_number}}</p>
                </div>
                <div class="margin-right">
                    <h4 class="list-title">Config Date</h4>
                    <p>{{customerVlan.config_date}}</p>
                </div>
            </div>
        </a>
        <div class="delupd">
            <a class="upd"href="{%url 'device:customerVlanupd' customerVlan.id%}"><span class="material-icons md-36">update</span></a>
            <a class="del" href="{%url 'device:customerVlandel' customerVlan.id%}"><span class="material-icons md-36">delete</span></a>
        </div>
    </div>

{% endfor %}
</div>
{% endblock  %}